datasheet esp32-s3 Pinout/nodered_flow.json
[
    {
        "id": "tab_cubesat",
        "type": "tab",
        "label": "Cubesat Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_1",
        "type": "ui_tab",
        "name": "Cubesat",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_telemetry",
        "type": "ui_group",
        "name": "Telemetry Data",
        "tab": "ui_tab_1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "System Control",
        "tab": "ui_tab_1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt_in_telemetry",
        "type": "mqtt in",
        "z": "tab_cubesat",
        "name": "Telemetry In",
        "topic": "cubesat/telemetry",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "function_adc"
            ]
        ]
    },
    {
        "id": "function_adc",
        "type": "function",
        "z": "tab_cubesat",
        "name": "Calculate ADC & Battery",
        "func": "if (!msg.payload || typeof msg.payload !== 'object') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        return msg;\n    }\n}\n\nlet d = msg.payload;\n\nfunction constrain(val, min, max) {\n    if (val < min) return min;\n    if (val > max) return max;\n    return val;\n}\n\nlet v0 = (d.adc0 / 4095.0) * 3.3;\nlet v1 = (d.adc1 / 4095.0) * 3.3;\nlet v2 = (d.adc2 / 4095.0) * 3.3;\nlet v3 = (d.adc3 / 4095.0) * 3.3;\n\nd.adc_n0 = constrain(1.0 - (v0 / 3.3), 0.0, 1.0);\nd.adc_n1 = constrain(1.0 - (v1 / 3.3), 0.0, 1.0);\nd.adc_n2 = constrain(1.0 - (v2 / 3.3), 0.0, 1.0);\nd.adc_n3 = constrain(1.0 - (v3 / 3.3), 0.0, 1.0);\n\nlet bat = 0.0;\nif (d.adc_n0 > 0.05) bat = 70.0 + (d.adc_n0 * 30.0);\nelse if (d.adc_n1 > 0.05) bat = 50.0 + (d.adc_n1 * 20.0);\nelse if (d.adc_n2 > 0.05) bat = 30.0 + (d.adc_n2 * 20.0);\nelse if (d.adc_n3 > 0.05) bat = 10.0 + (d.adc_n3 * 20.0);\nelse bat = d.adc_n3 * 10.0;\n\nd.bat_pct = parseFloat(constrain(bat, 0.0, 100.0).toFixed(1));\n\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "debug_1",
                "ui_battery",
                "change_vin"
            ]
        ]
    },
    {
        "id": "ui_battery",
        "type": "ui_gauge",
        "z": "tab_cubesat",
        "name": "Battery %",
        "group": "ui_group_telemetry",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Level",
        "label": "%",
        "format": "{{msg.payload.bat_pct}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838","#e6e600","#00b33c"],
        "seg1": "20",
        "seg2": "60",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "change_vin",
        "type": "change",
        "z": "tab_cubesat",
        "name": "Extract Vin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vin",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "ui_vin"
            ]
        ]
    },
    {
        "id": "ui_vin",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Vin",
        "group": "ui_group_telemetry",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Vin (V)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_out_command",
        "type": "mqtt out",
        "z": "tab_cubesat",
        "name": "Command Out",
        "topic": "cubesat/command",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_1",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "ui_btn_sensor",
        "type": "ui_button",
        "z": "tab_cubesat",
        "name": "Sensor Mode",
        "group": "ui_group_control",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sensor Mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "sensor",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "mqtt_out_command"
            ]
        ]
    },
    {
        "id": "ui_btn_camera",
        "type": "ui_button",
        "z": "tab_cubesat",
        "name": "Camera Mode",
        "group": "ui_group_control",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Camera Mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "camera",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "mqtt_out_command"
            ]
        ]
    },
    {
        "id": "ui_btn_sleep",
        "type": "ui_button",
        "z": "tab_cubesat",
        "name": "Sleep Mode",
        "group": "ui_group_control",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sleep Mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "sleep",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "mqtt_out_command"
            ]
        ]
    },
    {
        "id": "mqtt_in_status",
        "type": "mqtt in",
        "z": "tab_cubesat",
        "name": "Status In",
        "topic": "cubesat/status",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "change_mode"
            ]
        ]
    },
    {
        "id": "change_mode",
        "type": "change",
        "z": "tab_cubesat",
        "name": "Extract Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "ui_mode_text"
            ]
        ]
    },
    {
        "id": "ui_mode_text",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Current Mode",
        "group": "ui_group_control",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "System Mode",
        "format": "{{msg.payload | uppercase}}",
        "layout": "row-spread",
        "x": 520,
        "y": 420,
        "wires": []
    },
    {
        "id": "debug_1",
        "type": "debug",
        "z": "tab_cubesat",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    }
]
