datasheet esp32-s3 Pinout/nodered_flow.json
[
    {
        "id": "tab_cubesat",
        "type": "tab",
        "label": "Cubesat Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "HiveMQ Public (TLS)",
        "broker": "broker.hivemq.com",
        "port": "8883",
        "clientid": "",
        "usetls": true,
        "verifyservercert": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_1",
        "type": "ui_tab",
        "name": "Cubesat",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_telemetry",
        "type": "ui_group",
        "name": "System & Status",
        "tab": "ui_tab_1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "System Control",
        "tab": "ui_tab_1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_power_in",
        "type": "ui_group",
        "name": "Power In (INA226)",
        "tab": "ui_tab_1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_power_out",
        "type": "ui_group",
        "name": "Power Out (INA226)",
        "tab": "ui_tab_1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_solar",
        "type": "ui_group",
        "name": "Solar Panels (ADC 0-3)",
        "tab": "ui_tab_1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt_in_telemetry",
        "type": "mqtt in",
        "z": "tab_cubesat",
        "name": "Telemetry In",
        "topic": "cubesat/telemetry",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "function_parse",
                "trigger_connection"
            ]
        ]
    },
    {
        "id": "trigger_connection",
        "type": "trigger",
        "z": "tab_cubesat",
        "name": "Connection Timeout",
        "op1": "Online / Connected",
        "op2": "Offline / Lost Connection",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "ui_connection_text"
            ]
        ]
    },
    {
        "id": "ui_connection_text",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Connection Status",
        "group": "ui_group_telemetry",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "MQTT Link",
        "format": "<font color=\"{{msg.payload === 'Online / Connected' ? 'green' : 'red'}}\">{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "function_parse",
        "type": "function",
        "z": "tab_cubesat",
        "name": "Parse & Calc ADC",
        "func": "if (!msg.payload || typeof msg.payload !== 'object') {\n    try { msg.payload = JSON.parse(msg.payload); } catch (e) { return msg; }\n}\n\nlet d = msg.payload;\n\nfunction constrain(val, min, max) {\n    if (val < min) return min;\n    if (val > max) return max;\n    return val;\n}\n\n// ADC raw \u2192 normalised 0.0\u20131.0 (0V=0, 3.3V=1)\nd.adc_n0 = parseFloat(constrain(d.adc0 / 4095.0, 0.0, 1.0).toFixed(2));\nd.adc_n1 = parseFloat(constrain(d.adc1 / 4095.0, 0.0, 1.0).toFixed(2));\nd.adc_n2 = parseFloat(constrain(d.adc2 / 4095.0, 0.0, 1.0).toFixed(2));\nd.adc_n3 = parseFloat(constrain(d.adc3 / 4095.0, 0.0, 1.0).toFixed(2));\n\n// 1. Primary Hybrid SoC\nif (d.batt_soc !== undefined) {\n    d.bat_pct = parseFloat(d.batt_soc.toFixed(1));\n} else if (d.vin && d.vin > 0) {\n    d.bat_pct = parseFloat(constrain(((d.vin - 6.0) / (8.4 - 6.0)) * 100, 0, 100).toFixed(1));\n} else {\n    d.bat_pct = 0;\n}\n\n// 2. Redundant ADC SoC (Comparator)\nd.bat_backup_pct = d.adc_soc !== undefined ? d.adc_soc : 0;\n\nd.wifi_status = (d.wifi_connected === true || d.wifi_connected === 'true') ? 'Connected' : 'Disconnected';\nd.mode_display = d.mode_str ? d.mode_str.toUpperCase() : 'UNKNOWN';\nd.eff_display = d.eff ? d.eff.toFixed(1) + ' %' : 'N/A';\n\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "debug_1",
                "ui_sys_mode",
                "ui_wifi_status",
                "ui_gps_sats",
                "ui_battery",
                "ui_timestamp",
                "ui_vin_gauge",
                "ui_iin_text",
                "ui_pin_text",
                "ui_vout_gauge",
                "ui_iout_text",
                "ui_pout_text",
                "ui_eff_text",
                "ui_adc0_gauge",
                "ui_adc1_gauge",
                "ui_adc2_gauge",
                "ui_adc3_gauge"
            ]
        ]
    },
    {
        "id": "ui_timestamp",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Timestamp",
        "group": "ui_group_telemetry",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Timestamp",
        "format": "{{msg.payload.ts}}",
        "layout": "row-spread",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_sys_mode",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Mode Status",
        "group": "ui_group_telemetry",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "ESP32 Mode",
        "format": "<b>{{msg.payload.mode_display}}</b>",
        "layout": "row-spread",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_wifi_status",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "WiFi Status",
        "group": "ui_group_telemetry",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "WiFi",
        "format": "{{msg.payload.wifi_status}}",
        "layout": "row-spread",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_gps_sats",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "GPS Sats",
        "group": "ui_group_telemetry",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "GPS Satellites",
        "format": "{{msg.payload.satellites}} sats | SNR: {{msg.payload.snr || '-'}}",
        "layout": "row-spread",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui_battery",
        "type": "ui_gauge",
        "z": "tab_cubesat",
        "name": "Battery %",
        "group": "ui_group_telemetry",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Level",
        "label": "%",
        "format": "{{msg.payload.bat_pct}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b33c"
        ],
        "seg1": "20",
        "seg2": "60",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_vin_gauge",
        "type": "ui_gauge",
        "z": "tab_cubesat",
        "name": "Vin Gauge",
        "group": "ui_group_power_in",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Voltage In (Vin)",
        "label": "V",
        "format": "{{msg.payload.vin}}",
        "min": 0,
        "max": 5.5,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b33c"
        ],
        "seg1": "3.3",
        "seg2": "4.2",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "ui_iin_text",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Iin",
        "group": "ui_group_power_in",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Current In (Iin)",
        "format": "{{msg.payload.iin}} A",
        "layout": "row-spread",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "ui_pin_text",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Pin",
        "group": "ui_group_power_in",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Power In (Pin)",
        "format": "{{msg.payload.pin}} W",
        "layout": "row-spread",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "ui_vout_gauge",
        "type": "ui_gauge",
        "z": "tab_cubesat",
        "name": "Vout Gauge",
        "group": "ui_group_power_out",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Voltage Out (Vout)",
        "label": "V",
        "format": "{{msg.payload.vout}}",
        "min": 0,
        "max": 5.5,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b33c"
        ],
        "seg1": "3.3",
        "seg2": "4.2",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "ui_iout_text",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Iout",
        "group": "ui_group_power_out",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Current Out (Iout)",
        "format": "{{msg.payload.iout}} A",
        "layout": "row-spread",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "ui_pout_text",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Pout",
        "group": "ui_group_power_out",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Power Out (Pout)",
        "format": "{{msg.payload.pout}} W",
        "layout": "row-spread",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "ui_eff_text",
        "type": "ui_text",
        "z": "tab_cubesat",
        "name": "Efficiency",
        "group": "ui_group_power_out",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Efficiency",
        "format": "{{msg.payload.eff_display}}",
        "layout": "row-spread",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "ui_adc0_gauge",
        "type": "ui_gauge",
        "z": "tab_cubesat",
        "name": "ADC0 (Pin37)",
        "group": "ui_group_solar",
        "order": 1,
        "width": "3",
        "height": 0,
        "gtype": "donut",
        "title": "Solar Panel 0 (Pin37)",
        "label": "0.0-1.0",
        "format": "{{msg.payload.adc_n0}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#e6e600",
            "#e6e600",
            "#00b33c"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "ui_adc1_gauge",
        "type": "ui_gauge",
        "z": "tab_cubesat",
        "name": "ADC1 (Pin38)",
        "group": "ui_group_solar",
        "order": 2,
        "width": "3",
        "height": 0,
        "gtype": "donut",
        "title": "Solar Panel 1 (Pin38)",
        "label": "0.0-1.0",
        "format": "{{msg.payload.adc_n1}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#e6e600",
            "#e6e600",
            "#00b33c"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "ui_adc2_gauge",
        "type": "ui_gauge",
        "z": "tab_cubesat",
        "name": "ADC2 (Pin39)",
        "group": "ui_group_solar",
        "order": 3,
        "width": "3",
        "height": 0,
        "gtype": "donut",
        "title": "Solar Panel 2 (Pin39)",
        "label": "0.0-1.0",
        "format": "{{msg.payload.adc_n2}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#e6e600",
            "#e6e600",
            "#00b33c"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "ui_adc3_gauge",
        "type": "ui_gauge",
        "z": "tab_cubesat",
        "name": "ADC3 (Pin40)",
        "group": "ui_group_solar",
        "order": 4,
        "width": "3",
        "height": 0,
        "gtype": "donut",
        "title": "Solar Panel 3 (Pin40)",
        "label": "0.0-1.0",
        "format": "{{msg.payload.adc_n3}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#e6e600",
            "#e6e600",
            "#00b33c"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "mqtt_out_command",
        "type": "mqtt out",
        "z": "tab_cubesat",
        "name": "Command Out",
        "topic": "cubesat/command",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_1",
        "x": 640,
        "y": 840,
        "wires": []
    },
    {
        "id": "ui_btn_sensor",
        "type": "ui_button",
        "z": "tab_cubesat",
        "name": "Sensor Mode",
        "group": "ui_group_control",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "🔬 Sensor Mode",
        "tooltip": "Switch ESP32 to Sensor reading mode",
        "color": "white",
        "bgcolor": "#1a7a3e",
        "icon": "",
        "payload": "sensor",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "mqtt_out_command"
            ]
        ]
    },
    {
        "id": "ui_btn_camera",
        "type": "ui_button",
        "z": "tab_cubesat",
        "name": "Camera Mode",
        "group": "ui_group_control",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "📷 Camera Mode",
        "tooltip": "Switch ESP32 to Camera mode",
        "color": "white",
        "bgcolor": "#1a4a7a",
        "icon": "",
        "payload": "camera",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "mqtt_out_command"
            ]
        ]
    },
    {
        "id": "ui_btn_sleep",
        "type": "ui_button",
        "z": "tab_cubesat",
        "name": "Sleep Mode",
        "group": "ui_group_control",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "😴 Sleep Mode",
        "tooltip": "Put ESP32 into Sleep mode",
        "color": "white",
        "bgcolor": "#7a3a1a",
        "icon": "",
        "payload": "sleep",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 880,
        "wires": [
            [
                "mqtt_out_command"
            ]
        ]
    },
    {
        "id": "debug_1",
        "type": "debug",
        "z": "tab_cubesat",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    }
]